:root {
  --bg-color: #ffffff;
  --fg-color: #212121;
  --mid-color: #c5c5c5;
  --success: #00ff00;
  --info-color: #0000ff;
  --error-color: #f8a9a9;

  --header-height: 48px;
}

html {
  color: var(--fg-color);
  background-color: var(--bg-color);
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  width: 100%;
  height: calc(100vh - var(--header-height));
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.app-container {
  display: flex;
  flex-flow: column;
}

.app-header {
  border-bottom: 1px solid var(--mid-color);
  padding: 0.5rem;
  display: flex;
  justify-content: end;
  height: var(--header-height);
  gap: 1rem;
}

.empty {
  width: 100%;
  height: 100%;
}

.dashboard-container {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-areas: 
    "devices empty"
    "tasks empty";
}

.items-list {
  padding: 1rem;
  border: 1px solid var(--mid-color);
}

.button {
  height: 32px;
  min-width: 128px;
  text-transform: uppercase;
}

.button--icon {
  width: 32px;
  min-width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--unread::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  border-radius: 2rem;
  background-color: red;
  transform: translate(7px, -4px);
}

.notifications {
  position: relative;
}

.notification-block {
  position: absolute;
  width: 20rem;
  background-color: var(--bg-color);
  border: 1px solid var(--mid-color);
  right: 0;
  top: 100%;
  transform: translateY(0.25rem);
  box-shadow: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column-reverse;
}

.notification-block--float {
  position: fixed;
  left: 50%;
  top: 3rem;
  transform: translateX(-50%);
  width: 30%;
}

.notification {
  font-size: 12px;
  max-height: 128px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 42px;
  padding: 0.5rem;
}

.notification--info {
  background-color: lightblue;
}

.notification--success {
  background-color: lightgreen;
}

.notification--alert {
  background-color: var(--error-color);
}

.notification:not(:last-child){
  border-bottom: 1px solid var(--mid-color);
}

.list--custom {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item-list {
  border: 1px solid var(--mid-color);
  padding: 1rem;
  height: 390px;
  overflow: scroll;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.item:not(:last-child) {
  border-bottom: 1px solid var(--mid-color);
}
